@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
    box-sizing: border-box;
}

.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    border-radius: 6px;
    background: #FF5400;
    color: #FFF;
    font-weight: 700;
    padding: 15px;
}

.section-heading {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.secondary-title {
    color: #131318;
    font-weight: 800;
    font-size: 1.5rem;
    margin-top: 20px;
}

.primary-text {
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    line-height: 1.625rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.secondary-text {
    color: #5A5A5D;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.good-color {
    color: #FF5400;
}

.four-four {
    max-width: 1440px;
    margin: 40px auto;
    padding: 10px 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

nav .nav-img .nav-tile {
    font-size: 2.25rem;
    font-weight: 800;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-right: 20px;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #424247;
}

.burgerButton {
    font-size: 30px;
    color: rgb(248, 8, 8);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}

#burgerInput {
    display: none;
}

.banner {
    background-image: url('Images/Group13\(1\)\(1\).png');
    background-position: center;
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border-radius: 10px;
    gap: 20px;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

.banner-text {
    text-align: center;
    font-weight: 400;
    color: #FFF;
    text-shadow: 2px 2px 4px #000000;
}

.banner-form {
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.30);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.banner-form input,
select {
    border-radius: 8px;
    background: #FFF;
    outline: none;
    border: none;
    font-weight: 400;
    padding: 15px;
}

.popular-tours {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.tour-details {
    width: 50%;
}

.tour-details .tour-list {
    list-style-type: inside disc;
    margin-left: 20px;
}

.tour-details .tour-list li {
    margin-bottom: 8px;
}

.tour-details .tour-text,
.tour-list {
    margin-top: 15px;
    margin-bottom: 15px;
}

.tour-details .btn-primary,
.discount-btn,
.mount-btn {
    padding: 10px 25px;
}

.tour-img {
    width: 50%;
}

.tour-img img {
    width: 100%;
}

/* destination section  */
.destinations {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.destinations .destination-img {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 300px);
    gap: 15px;
}

.destination-img img {
    width: 100%;
    height: 100%;
}

.img-position {
    position: relative;
}

.img-name {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-weight: 800;
    font-size: 1.75rem;
    transform: translate(-50%, -50%);
}

.destination-img .img-1 {
    grid-column: 1/7;
    grid-row: 1/2;
}

.destination-img .img-2 {
    grid-column: 7/13;
    grid-row: 1/2;
}

.destination-img .img-3 {
    grid-column: 1/5;
    grid-row: 2/3;
}

.destination-img .img-4 {
    grid-column: 5/10;
    grid-row: 2/3;
}

.destination-img .img-5 {
    grid-column: 10/13;
    grid-row: 2/3;
}

.destination-img .img-6 {
    grid-column: 1/6;
    grid-row: 3/4;
}

.destination-img .img-7 {
    grid-column: 6/13;
    grid-row: 3/4;
}

/* cabin section  */
.cabins {
    text-align: center;
}

.cabins .cabin-img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.cabins .cabin-img-container .cabin-img {
    text-align: left;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
}
.cabins .cabin-img-container .cabin-img img{
    width: 100%;
}

/* choose us section */
.great-causes {
    text-align: center;
    margin-top: 100px;
}

.great-causes .reasons-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.great-causes .reasons-card .Rcard {
    flex-basis: 500px;
    text-align: left;
    padding: 30px;
}

.great-causes .reasons-card .Rcard-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.great-causes .reasons-card .Rcard-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.great-causes .reasons-card .Rcard-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* deals section  */
.deals {
    margin-top: 100px;
    text-align: center;
}

.deals .pool-img {
    background-image: url('Images/Group39.png');
    background-position: bottom;
    background-size: cover;
    height: 70vh;
    /* position: relative; */
    border-radius: 16px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.deals .pool-img2 {
    background-image: url('Images/Group40.png');
    justify-content: start;
}

.deals .pool-content {
    /* position: absolute;
    left: 43%;
    top: 16%; */
    width: 50%;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    text-align: left;
    padding: 20px;
    margin: 44px;
}

.deals .pool-content2 {
    /* left: 7%; */
}

.deals .conditions {
    display: flex;
    justify-content: space-between;
}

.deals .conditions .condition-list {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    list-style: none;
    gap: 5px;

}

.deals .conditions .condition-list .secondary-text {
    /* margin-top: ; */

}

.deals .pool-content .good-color {
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 10px;
}

/* mountains video section  */
.mountains {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.mountain-details {
    width: 50%;
}

.mountain-details .mountain-text {
    list-style-type: inside disc;
    margin-left: 20px;
    color: #131318;
    font-weight: 700;
    line-height: 26px;
}

.mountain-details .mountain-text li {
    color: #131318;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 15px;
}

.mountain-video {
    width: 50%;
    position: relative;
}

.mountain-video video {
    width: 100%;
    border-radius: 18px;
}

.mountain-video .mountain-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 1.75rem;
    transform: translate(-50%, -50%);
    line-height: 36px
}

.newsletter {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.newsletter .newsletter-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 35%;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 15px;
}

.newsletter .newsletter-details .secondary-text {
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(19, 19, 24, 0.10);
}

.newsletter .newsletter-details input {
    padding: 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    outline: none;
    border: none;
}

.newsletter .newsletter-img {
    width: 60%;
    position: relative;
}

.newsletter .newsletter-img img {
    width: 100%;
}

.newsletter .newsletter-img .sticker {
    border-radius: 16px;
    background: #FF5400;
    position: absolute;
    transform: rotate(-19.628deg);
    padding: 15px;
    top: 68%;
    left: 62%;
}

.newsletter .newsletter-img .sticker .small {
    font-weight: 400;
    font-size: 1.2rem;
    color: #FFF;
    text-align: center;
}

.newsletter .newsletter-img .sticker .large {
    font-weight: 800;
    font-size: 1.7rem;
    color: #FFF;
    text-align: center;
}

footer {
    background: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 50px;
    border-bottom: 2px solid rgba(19, 19, 24, 0.10);
}

.footer-head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 10px;
}

.footer-head .footer-heading {
    font-size: 2rem;
    font-weight: 800;
}

.footer-content .secondary-text {
    text-align: center;
}

.footer-icons {
    display: flex;
    margin-top: 15px;
    gap: 20px;
}

.footer-icons a {
    display: flex;
    text-decoration: none;
    font-size: 2rem;
    color: #131318;
}

.copyright-text {
    margin-top: 50px;
    text-align: center;
    padding-bottom: 100px;
}


@media screen and (max-width: 600px) {
    .section-heading {
        font-size: 2rem;
    }

    .four-four {
        margin: 20px auto;
        padding: 0 10px;
    }

    .burgerButton {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        background: #424247d8;
        text-shadow: 2px 2px 4px #000000;
        top: 105px;
        left: 100%;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
        padding: 10px;
    }

    nav ul li a {
        font-size: 20px;
        color: #ffffff;
    }

    #burgerInput:checked~ul {
        left: 0;
    }

    .banner {
        padding: 5px;
    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-form {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }

    .popular-tours {
        flex-direction: column;
        padding: 15px;
    }

    .tour-details,
    .tour-img,
    .mountain-details,
    .mountain-video,
    .newsletter .newsletter-details,
    .newsletter .newsletter-img {
        width: 100%;
    }

    .destinations .destination-img {
        display: flex;
        flex-direction: column;
    }

    .destination-img img {
        height: 230px;
        object-fit: cover;
        border-radius: 8px;
    }
    .cabins .cabin-img-container {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    .deals .pool-img {
        justify-content: center;
        align-items: end;
    }

    .deals .pool-img2 {
        justify-content: center;
    }

    .deals .pool-content {
        width: 100%;
        padding: 10px;
        margin: 10px;
    }

    .deals .conditions {
        flex-wrap: wrap;
    }

    .deals .conditions .secondary-text {
        line-height: normal;
        font-size: 1.86rem;
    }

    .mountains,
    .newsletter {
        flex-direction: column;
    }

    .newsletter .newsletter-img .sticker {
        padding: 13px;
    }

    .newsletter .newsletter-img .sticker .small {
        font-size: .8rem;
    }

    .newsletter .newsletter-img .sticker .large {
        font-size: 1rem;
    }

    .footer-content {
        max-width: 90%;
    }

    .footer-head .footer-heading {
        font-size: 1.85rem;
    }
}