@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}
.good-color{
    color: #FF5400;
}
.four-four{
    max-width: 1440px;
    margin: 40px auto;
    padding: 10px 80px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
nav .nav-img .nav-tile {
    font-size: 2.25rem;
    font-weight: 800;
}
nav ul{
    display: flex;
}
nav ul li{
        margin-right: 20px;
        list-style: none;
        text-decoration: none;
        padding-top: 10px;
}
nav ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #424247;
}
.burgerButton{
    font-size: 30px;
    color: rgb(248, 8, 8);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}
#burgerInput{
    display: none;
}
@media screen and (max-width: 600px) {
    .four-four{
        margin: 20px auto;
        padding: 10px;
    }
    .burgerButton{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        background: rgba(137, 88, 88, 0.364);
        top: 105px;
        left: 100%;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
        padding: 10px;
    }

    nav ul li a{
        font-size: 20px;
    }
    #burgerInput:checked ~ ul{
        left: 0;
    }
}